// .nav .link {
//   background-color: gray;
//   color: black;
// }

.navbar-brand {
margin-left: 10px;
max-width: 5%;
// min-width: 50px;
height: auto;
  // font-size: 30px;
}

.ml-auto {
  margin-left: auto;
}

a.nav-link {
  text-transform: uppercase;
  margin: 0 10px;

  &:hover {
    transform: scale(1.05);
    color: black;
  }
}

.navbar-text {
  font-size: 10px;
  justify-content: baseline;
  margin-right: 5px;
}
h2 {
  font-weight: 800;
}
// .logo {
//   width: 100px;
// }
